{% extends 'base.html.twig' %}
{% block title %}Inscription Réussiste - Projets Clients{% endblock %}
{% block content %}
<meta http-equiv="refresh" content="5;url=/"/>
<div class="text-center form-general align-middle">
	<h2 class="mb-3 color-yellow">Inscription Réussite !</h2>
	<div class="separator"></div>
    <div class="mb-3"></div>
    <p class="color-white">Tu es bien inscrit sur le projet client !</p>
    <p class="color-white">Tu vas être redirigé sur la page de connexion</p>

</div>
{% endblock %}