{% extends 'base.html.twig' %}
{% block title %}Lien de réinitialisation - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}
{% block content %}


{% block body %}
<div class="form-general text-center">
    <h2 class="text-center mb-4 color-yellow">Lien envoyé</h2>
    <div class="mb-3"></div>
    <div class="separator"></div>
    <div class="mb-3"></div>
    <p class="color-white">Un email pour modifier ton mot de passe vient de t'être envoyé sur la boîte email.
    <p class="mb-4 color-white"><span style="font-size:15px; font-style: italic;">N'oublie pas de vérifier tes spams</span></p>
    <a href="{{ path('home') }}" class="btn-submit">Connexion</a>
</div>
{% endblock %}
{% endblock %}
