{% extends 'base.html.twig' %}

{% block title %}Mot de passe changé - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block content %}
    <div class="form-general text-center">
        {# <meta http-equiv="refresh" content="5;url=/"/> #}
        <h3 class="color-yellow">Mot de passe changé</h3>
		<div class="mb-3"></div>
		<div class="separator"></div>
		<div class="mb-3"></div>
        <p class="color-white">Le mot de passe a bien été changé !</p>
        <p class="color-white">Tu vas être redirigé vers la page de connexion dans 5 secondes.</p>
    </div>

{% endblock %}